html,body
{
	height:100%;
}

body
{
	background : #f8f9fc;
}

.shadow
{
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.left-border
{
	border-left: 3px solid #007bff !important;
}

#nav-sidebar
{
	z-index: 100;
}

#nav-sidebar a.nav-link
{
	border-left: 3px solid transparent;
}

#nav-sidebar a.nav-link:hover
{
	border-left: 3px solid #cbd3da;
}

#nav-sidebar a.nav-link.active
{
	border-left: 3px solid #007bff !important;
	color: #0275d8 !important;
}

#nav-sidebar a.nav-link.active:hover
{
	color: #0056b3 !important;
}

.header
{
	height:60px;
	padding:10px 0px !important;
}

#header-nav
{
	float:right;
}
#header-nav,#header-nav li,#header-nav li a
{
	display:inline-block;
	height:100%;
	line-height:100%;
}

footer
{
	position:fixed;
	bottom:0;
	line-height:50px;
	height:50px;
	background: #CED5DC;
}