html,body
{
	height:100%;
}

body
{
	background : #f8f9fc;
}

.shadow
{
	box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.left-border
{
	border-left: 3px solid #007bff !important;
}

a.nav-link
{
	border-left: 3px solid transparent;
}

a.nav-link:hover
{
	border-left: 3px solid #cbd3da;
}