<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Report - Cause Code</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script> -->
  <script type="text/javascript" src="../js/ccreport.js"></script>
  <link rel="stylesheet" href="../css/home.css">
  <style>
  	#cc_report_container
  	{
  		position:relative;
  	}
  	
  	#cc_report_spinner
  	{
  		position:absolute;
  		top:50%;
  		left:50%;
  		width:50px;
  		height:50px;
  		z-index:100;
  	}
  	
  	#cc_canvas_container,#pie_chart_canvas_container
  	{
  		height:250px;
  	}
  	
  </style>
</head>

<body>
	<div id="wrapper">
    	<div id="content-wrapper">
      		<div class="container-fluid">
				<div class="row mt-3">

					<div class="col-xl-8 col-lg-7">

						<!-- Bar Chart -->
						<div class="card shadow mb-4" id="cc_report_container">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
								
								<!--  
								<select class="form-control d-inline col-xl-2 ml-5 float-right" id="exampleFormControlSelect1">
							      <option>select account</option>
							      <option>Account1</option>
							      <option>Account2</option>
							      <option>Account3</option>
							    </select>
							    
							    <select class="form-control d-inline col-xl-2 ml-5 float-right" id="exampleFormControlSelect1">
							      <option>select filter</option>
							      <option>month</option>
							      <option>year</option>
							    </select>
							    
							    -->
							    
							</div>
							<div class="card-body">
								<div id="cc_canvas_container" class="pt-4">
									<canvas id="cc_report_canvas"></canvas>
								</div>
								<hr>
								Graph related small details goes here.
							</div>
							<div class="spinner-border text-primary text-center" id="cc_report_spinner" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>

					</div>

					<!-- Donut Chart -->
					<div class="col-xl-4 col-lg-5">
						<div class="card shadow mb-4">
							<!-- Card Header - Dropdown -->
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
							</div>
							<!-- Card Body -->
							<div class="card-body">
								<div id="pie_chart_canvas_container" class="pt-4">
									<canvas id="myPieChart"></canvas>
								</div>
								<hr>
								Styling for the donut chart.
							</div>
						</div>
					</div>
					
				</div>
      		</div>
      	</div>
    </div>
</body>
</html>