<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<style>
body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: url('/img/1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
</head>
<body>
	<!--  
<div class="container">
  
  <div class="card" style="width:400px">
    <img class="card-img-top" src="/img/data-analyse-icon.png "  alt="Card image" style="width:100%">
    <div class="card-body">
      
     
      <a href="#" class="btn btn-primary stretched-link">ROOCA API</a>
    </div>
  </div>
</div>
<div class="container">
  
  <div class="card" style="width:400px">
    <img class="card-img-top" src="/img/analysis.png "  alt="Card image" style="width:100%">
    <div class="card-body">
      
     
      <a href="#" class="btn btn-primary stretched-link">REPORTING</a>
    </div>
  </div>
</div> -->
	<div class="row">
		<div class="col-sm-6">
			<img class="card-img-top" src="/img/data-analyse-icon.png"
				alt="Card image" style="width: 40%">
			<div class="card-body">

				<a href="#" class="btn btn-primary">ROOCA API</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img class="card-img-top" src="/img/data-analyse-icon.png"
				alt="Card image" style="width: 40%">
			<div class="card-body">

				<a href="#" class="btn btn-primary">ROOCA API</a>
			</div>
		</div>
	</div>
</body>
</html>
