<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <div id="wrapper">
    <div id="content-wrapper">
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Report 1
                    </div>
                    <div class="h6 mb-0 font-weight-bold text-gray-800">Click here to know more about Report 1</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Report 2</div>
                    <div class="h6 mb-0 font-weight-bold text-gray-800">Click here to know more about Report 2</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Report 3</div>
                    <div class="h6 mb-0 font-weight-bold text-gray-800">Click here to know more about Report 3</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-6">

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">What Is ROOCA?</h6>
              </div>
              <div class="card-body">
                Capgemini proprietary Root Cause Nanobot focused on Problem Management that Uses NLP (Natural Language
                Processing) technique to identify nearest matching solution for an incident from the KEDB (Known-error
                Database), displaying an existing RCA and helping you get to the root cause of the problem faster while
                also displaying a ready solution for a similar issue which has occurred in the past
              </div>
            </div>
          </div>
          <div class="col-lg-6">

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">What is FMA Process?</h6>
              </div>
              <div class="card-body">
                Failure modes analysis (FMA) is a step-by-step approach for identifying all possible failures in a
                service. Failure modes means the ways, or modes, in which something might fail. Failures are prioritized
                according to how serious their
                consequences are, how frequently they occur and how easily they can be detected. The purpose of the FMA
                is to take actions to eliminate or reduce failures, starting with the highest-priority ones.
              </div>
            </div>

          </div>

        </div>
        <div class="row">

          <div class="col-lg-6">

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">What is RPN?</h6>
              </div>
              <div class="card-body">
                The Risk Priority Number (RPN), is a numeric assessment of risk assigned to each failure that quantify
                likelihood of occurrence, likelihood of detection, and severity of impact.
              </div>
            </div>
          </div>

          <div class="col-lg-6">

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">What is SIP?</h6>
              </div>
              <div class="card-body">
                Service Improvement Plan (SIP) refers to the steps that have to be taken to permanently fix a failure.
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  </div>

  </div>
  </div>
  </div>
</body>

</html>